body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
}

.top-header {
    height: 12vh;
    background-color: #EB4127;
    width: 90%;
    padding: 0px 12vh;
    position: fixed;

}

.logo {
    font-size: 150%;
    font-weight: bold;
    float: left;
    color: white;
    text-transformer: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.top-header ul {
    float: right;
    padding-right: 2%;
    margin-top: 2%;
    text-transform: uppercase;
}

.top-header li {
    display: inline-block;
    list-style: none;

}


.top-header li a{
    font-size: 18px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    transition: 0.4s;

}

.top-header li a:hover{
    color: #E1C33E;
    font-size: 18.1px;
}

.header {
    height: 100vh;

    box-shadow: inset 0 8px 15px -5px rgba(0, 0, 0, 0.5);
}