{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>settings</title>
    <link rel="stylesheet" href= "{%static 'campaign_analytics.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rethink+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <strong class="total">TOTAL: <span class="total-value">{{total}} UAH</span> // GOAL: <span class="goal-value">{{goal}} UAH</span> // CURRENT RESULT: <span class="goal-value">{{pgoal}}%</span></strong>
        <div class="donor-list">
            {% for donor in donors %}
                <div class="donor">
                    <p class="donor-info">{{donor.user}}: <span class="donation">{{donor.donate}} UAH</span></p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>