{% load static %}
{% load socialaccount %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auth</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Вхід</header>
      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button" value="Увійти" name="login_submit">
      </form>

      <div class="signup">
        <span class="signup">Ще не маєте акаунту?
         <a href="{% url 'register' %}">Зареєструватися</a>
        </span>
      </div>

    </div>
      <p class="google"><a href="{% provider_login_url 'google'%}?next=/">Log in via Google</a></p>
  </div>
</body>
</html>
